@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-5 robotoTitle">Welcome to SlasherPasta</h1>
    <p>Your place for sharing and rating <em>horror stories</em></p>
</div>
<div class="text-center mt-5 mx-5">
    <p class="">Welcome to SlasherPasta, the ultimate haunt for horror enthusiasts and <em>creepy</em> pasta aficionados! Dive into a chilling collection of spine-tingling tales that will leave you on the edge of your seat. Whether you're here to share your own nightmarish <em>creations</em> or to rate and discover the darkest, most twisted stories from around the web, SlasherPasta is your go-to hub <em>for all</em> things eerie and unsettling. Join our <em>community</em>, embrace the fear, and let the terror begin!</p>
</div>
