@{
    ViewData["Title"] = "Home Page";
}

<div class="container-heroSection">
    <div class="heroSection-text">
        <div class="">
            <h1 class="title-heroSection">Welcome to SlasherPasta</h1>
        </div>
        <div class="subtitle-heroSection">
            <p class="">Welcome to SlasherPasta, the ultimate haunt for horror enthusiasts and <em>creepy</em> pasta aficionados! Dive into a chilling collection of spine-tingling tales that will leave you on the edge of your seat. Whether you're here to share your own nightmarish <em>creations</em> or to rate and discover the darkest, most twisted stories from around the web, SlasherPasta is your go-to hub <em>for all</em> things eerie and unsettling. Join our <em>community</em>, embrace the fear, and let the terror begin!</p>
        </div>
        <div class="buttons-heroSection">
            <button class="button-heroSection">
                <a class="link_unstyled" asp-area="Identity" asp-page="/Account/Register">Join us..</a>
            </button>
            <button class="button-heroSection">
                <a class="link_unstyled" asp-area="" asp-controller="Artigos" asp-action="Index">Read the stories</a>
            </button>
        </div>
    </div>
</div>
<div class="imgContainer_MM">
    <img src="/images/MM.png" alt="Michael myers image">
</div>


@if (TempData["BannedMessage"] != null)
{
    <div class="alert alert-warning text-center mt-3">
        @TempData["BannedMessage"]
    </div>
}