@{
    ViewData["Title"] = "Privacy Policy";
}

<div>
    <h2 class="mt-5 customLink">List of app features</h2>
    <ul>
        <li>Unregistered users can freely navigate and read the stories</li>
        <li>Normal registered users can create and rate other users stories</li>
        <li>Users can´t rate a story twice or their own stories</li>
        <li>Each story has an age classification (given by author) to restrict access to users of certain ages</li>
        <li>Each used gets an role assigned according to his age</li>
        <li>Age role updates autocamically. A check is run each time user logs in</li>
        <li>Users can choose an username and login with it or their email</li>
        <li>Microsoft identity provides other features related to auth</li>
        <li>Admins can create, edit and delete stories</li>
        <li>Admins can create new roles and manage user roles</li>
        <li>Admins can´t remove age restriction role in users - its supposed to be based on date of birth</li>
        <li>Admins can instead edit the age restriction rating of certain posts</li>
    </ul>

    <h2 class="mt-5 customLink">Future features?</h2>
    <ul>
        <li>Notifications system</li>
        <li>Reporting System</li>
        <li>UI improvement</li>
        <li>Banning of users to the shadow realm</li>
        <li>Improving filtering system</li>
    </ul>
</div>
