@model List<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Role Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="customLink">Role Manager</h1>
<form method="post" asp-action="AddRole" asp-controller="RoleManager">
    <div class="input-group">
        <input type="text" class="form-control customTextInput" placeholder="Add new role" name="roleName" />
        <div class="input-group-append">
            <input type="submit" class="customInputBtn" value="Add" />
        </div>
    </div>
</form>
<table class="table mt-2 ">
    <thead class="customContainer">
        <tr class ="customLink">
            <th >Id</th>
            <th>Role</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="bi">
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>
                @if (role.Name != "RatingE" && role.Name != "RatingT" && role.Name != "RatingM" && role.Name != "Admin" && role.Name != "Member")
                {
                    <td>
                        <form asp-action="Delete" asp-controller="RoleManager" method="post">
                            <input type="hidden" name="id" value="@role.Id" />
                            <input type="submit" value="Delete" class="customSpookyBtn" />
                        </form>
                    </td>
                } else
                {
                    <td></td>
                }
            </tr>
        }
    </tbody>
</table>